//Max widths
$maxS: "max-width: 320px";
$maxM: "max-width: 375px";
$maxL: "max-width: 425px";
$maxDesktop: "max-width: 1024px";

//Min widths
$minS: "min-width: 320px";
$minM: "min-width: 375px";
$minL: "min-width: 425px";
$minDesktop: "min-width: 1024px";
