//Max widths
$moblieMaxS: "max-width: 320px";
$mobileMaxM: "max-width: 375px";
$mobileMaxL: "max-width: 425px";
$tabletMax: "max-width: 768px";
$desktopMax: "max-width: 1024px";

//Min widths
$moblieMinS: "min-width: 320px";
$mobileMinM: "min-width: 375px";
$mobileMinL: "min-width: 425px";
$tabletMin: "min-width: 768px";
$desktopMin: "min-width: 1024px";
