.about-wrapper {
  display: flex;
  justify-content: space-between;
  @media ($desktopMin) {
    margin-top: 50px;
  }
  .undraw1 {
    width: 40vw;
    margin-left: 25px;
    max-height: 350px;
    @media ($tabletMax) {
      display: none;
    }
  }
}
.about {
  display: flex;
  justify-content: center;
  background-color: $sky-blue;
  border-radius: 20px;
  article {
    width: 40vw;
    @media ($tabletMax) {
      width: 90%;
    }
    @media ($tabletMin) {
      min-width: 350px;
    }
    header {
      display: flex;
      justify-content: center;
      padding: 20px;
      padding-bottom: 0;
      height: 75px;

      .egg {
        margin-right: 25px;
        height: 75px;
        border-right: 2px solid $light-gray;
      }
      img {
        margin-right: 25px;
        width: 75px;
        height: 75px;
      }
      h2 {
        color: $white;
        font-family: $Fjalla;
        font-weight: 400;
        font-size: 32px;
        white-space: nowrap;
        @media ($desktopMin) {
          font-size: 52px;
          text-align: center;
        }
        @media ($tabletMin) {
          display: flex;
          align-items: center;
          font-size: 52px;
        }
      }
    }
    p {
      color: $white;
      padding: 25px;
      font-family: $Roboto;
      font-weight: 300;
      @media ($desktopMin) {
        font-size: 1.5rem;
        font-weight: 400;
      }
    }
  }
}
