.comments {
  @media ($tabletMin) {
    margin-top: 25px;
  }
  .comments-container {
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    @media ($desktopMax) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  article {
    display: flex;
    flex-direction: column;
    header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 25px;
      padding-bottom: 0;
      height: 75px;
      margin-bottom: 25px;
      flex-direction: row;
      h2 {
        color: $light-black;
        font-family: $Fjalla;
        font-weight: 400;
        font-size: 2rem;
        margin-right: 25px;
        @media ($tabletMin) {
          display: flex;
          align-items: center;
          font-size: 3.25rem;
        }
      }
      .nudle {
        border-left: 2px solid $dark-gray;
      }
      img {
        margin-left: 25px;
        height: 75px;

        margin-right: 25px;
        width: 75px;
        height: 75px;
      }
    }
    .post {
      display: flex;
      box-shadow: 0px 5.71px 5.71px rgba(0, 0, 0, 0.25);
      border-radius: 25px;
      margin-bottom: 25px;
      cursor: pointer;
      img {
        padding: 25px;
        margin-top: 25px;
        width: 75px;
        height: 75px;
      }
      .comment {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 125px;
        margin-top: 25px;
        p {
          height: 75px;
          padding: 10px;
          padding-top: 0;
          color: $dark-gray;
          overflow: hidden;
          font-size: 15px;
          border-left: 2px solid $gray;
          padding-left: 25px;
        }
      }
    }
    @media ($tabletMin) {
      .post {
        margin-left: 15px;
        margin-right: 15px;
        height: auto;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 4.58571px 4.58571px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        max-width: 300px;
        margin: 50px;
        cursor: pointer;
        img {
          width: 200px;
          height: 200px;
          margin-left: 25px;
        }
        .comment {
          display: flex;
          justify-content: center;
          align-items: center;
          height: auto;
          padding: 25px;
          p {
            border: none;
            padding: 10px;
            margin-top: 0;
            height: auto;
            color: $dark-gray;
            font-size: 1.25rem;
            max-width: 100ch;
          }
          p::before {
            display: block;
            content: "";
            border-top: 2px solid $gray;
            margin-bottom: 25px;
          }
        }
      }
    }
  }
  button {
    justify-content: center;
    align-items: center;
    margin: auto;
    @media ($tabletMin) {
      display: none;
    }
  }
}
