.introduction {
  display: flex;
  flex-wrap: wrap;
  padding-top: 125px;
  p {
    font-family: $Fjalla;
    color: $sky-blue;
    font-weight: 400;
    font-size: 72px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 0;
  }
  .cookie {
    margin-left: auto;
    width: 15vw;
    height: 15vw;
    margin-right: 5vw;
  }
  .mockup {
    width: 90vw;
  }
}

@media ($maxM) {
  .introduction {
    p {
      font-size: 52px;
    }
  }
}

@media ($minDesktop) {
  .introduction {
    flex-wrap: nowrap;
    p {
    }
    .mockup {
      width: 40vw;
    }
    .cookie {
      width: 150px;
      height: 150px;
      margin-top: auto;
      margin-right: auto;
    }
  }
}
