.topbar-wrapper {
  position: fixed;
  background-color: $white;
  height: 125px;
  width: 100%;
  topbar {
    margin-top: 50px;
    margin-bottom: 15px;
    height: 50px;
    display: flex;
    background-color: $sky-blue;
    justify-content: space-between;
    align-items: center;
    logo {
      padding-left: 10vw;
      color: $white;
      font-family: $Fjalla;
      font-weight: 700;
      font-size: 48px;
    }
    .menu {
      margin-left: auto;
      padding-right: 10vw;
      color: $white;

      img {
        width: 50px;
        cursor: pointer;
      }
    }
  }
  .nav {
    ul {
      font-size: 24px;
      display: flex;
      color: $white;
      justify-content: space-around;
      width: 50vw;
      padding-right: 10vw;
      li {
        max-width: 200px;
        list-style: none;
        font-family: $Roboto;
        font-weight: 700;
        font-size: 24px;
        cursor: pointer;
      }
    }
  }
  .sidebar-wrapper {
    .sidebar {
      background-color: $sky-blue;
      position: absolute;
      top: 100px;
      right: 0;
      color: $white;
      border-radius: 0px 0px 0px 50px;
      ul {
        padding-left: 0;
        li {
          list-style: none;
          font-family: $Roboto;
          font-weight: 700;
          font-size: 48px;
          margin: 50px;
          cursor: pointer;
        }
      }
    }
  }
}

//@Mixin Topbar Response
@media ($mobileMaxL) {
  .topbar-wrapper {
    topbar {
      logo {
        font-size: 32px;
      }
      img {
        height: 25px;
      }
    }
  }
}
@media ($mobileMaxL) {
  .topbar-wrapper {
    .sidebar-wrapper {
      .sidebar {
        ul {
          li {
            font-size: 32px;
            margin: 30px;
          }
        }
      }
    }
  }
}

@media ($desktopMax) {
  topbar {
    .nav {
      display: none;
    }
    .sidebar {
      display: "";
    }
  }
}

@media ($desktopMin) {
  topbar {
    .menu {
      display: none;
    }
  }
}
