html {
  scroll-behavior: smooth;
}

main {
  margin: auto;
  width: 90vw;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  border: none;
  background-color: #74b9ff;
  -webkit-box-shadow: 0px 5.71px 5.71px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5.71px 5.71px rgba(0, 0, 0, 0.25);
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

button p {
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 24px;
}

.topbar-wrapper {
  position: fixed;
  background-color: #fff;
  width: 100%;
}

.topbar-wrapper topbar {
  margin-top: 50px;
  margin-bottom: 10px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #74b9ff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topbar-wrapper topbar logo {
  padding-left: 10vw;
  color: #fff;
  font-family: "Fjalla One", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

@media (min-width: 425px) {
  .topbar-wrapper topbar logo {
    font-size: 2.5rem;
  }
}

.topbar-wrapper topbar .menu {
  margin-left: auto;
  padding-right: 10vw;
  color: #fff;
}

.topbar-wrapper topbar .menu img {
  height: 25px;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .topbar-wrapper topbar .menu {
    display: none;
  }
}

.topbar-wrapper .nav ul {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50vw;
  padding-right: 10vw;
}

.topbar-wrapper .nav ul li {
  margin-top: 5px;
  max-width: 200px;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
}

@media (max-width: 425px) {
  .topbar-wrapper .nav ul li {
    font-size: 2rem;
    margin: 30px;
  }
}

.topbar-wrapper .nav ul .active::after {
  content: "";
  position: absolute;
  display: block;
  height: 5px;
  background-color: #74b9ff;
  width: auto;
  top: 45px;
  left: 0;
  right: 0;
}

@media (max-width: 1024px) {
  .topbar-wrapper .nav {
    display: none;
  }
}

.topbar-wrapper .sidebar-wrapper .sidebar {
  background-color: #74b9ff;
  position: absolute;
  top: 100px;
  right: 0;
  color: #fff;
  border-radius: 0px 0px 0px 50px;
}

.topbar-wrapper .sidebar-wrapper .sidebar ul {
  padding-left: 0;
}

.topbar-wrapper .sidebar-wrapper .sidebar ul li {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 50px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .topbar-wrapper .sidebar-wrapper .sidebar {
    display: "";
  }
}

.introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 125px;
}

.introduction p {
  margin-top: 25px;
  font-family: "Fjalla One", sans-serif;
  color: #0984e3;
  font-weight: 200;
  font-size: 4.5rem;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 0;
}

@media (max-width: 375px) {
  .introduction p {
    font-size: 3.25rem;
  }
}

.introduction .cookie {
  margin-left: auto;
  width: 15vw;
  height: 15vw;
  margin-right: 5vw;
}

.introduction .mockup {
  width: 90vw;
}

@media (min-width: 1024px) {
  .introduction {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .introduction .mockup {
    width: 40vw;
  }
  .introduction .cookie {
    width: 150px;
    height: 150px;
    margin-top: auto;
    margin-right: auto;
  }
}

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1024px) {
  .about-wrapper {
    margin-top: 50px;
  }
}

.about-wrapper .undraw1 {
  width: 40vw;
  margin-left: 25px;
  max-height: 350px;
}

@media (max-width: 768px) {
  .about-wrapper .undraw1 {
    display: none;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #74b9ff;
  border-radius: 20px;
}

.about article {
  width: 40vw;
}

@media (max-width: 768px) {
  .about article {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .about article {
    min-width: 350px;
  }
}

.about article header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  padding-bottom: 0;
  height: 75px;
}

.about article header .egg {
  margin-right: 25px;
  height: 75px;
  border-right: 2px solid #f9f9f9;
}

.about article header img {
  margin-right: 25px;
  width: 75px;
  height: 75px;
}

.about article header h2 {
  color: #fff;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  white-space: nowrap;
}

@media (min-width: 1024px) {
  .about article header h2 {
    font-size: 3.25rem;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .about article header h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 3.25rem;
  }
}

.about article p {
  color: #fff;
  padding: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

@media (min-width: 1024px) {
  .about article p {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

@media (min-width: 768px) {
  .comments {
    margin-top: 25px;
  }
}

.comments .comments-container {
  max-width: 1300px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 1024px) {
  .comments .comments-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.comments article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comments article header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px;
  padding-bottom: 0;
  height: 75px;
  margin-bottom: 25px;
  flex-direction: row;
}

.comments article header h2 {
  color: #222222;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  margin-right: 25px;
}

@media (min-width: 768px) {
  .comments article header h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 3.25rem;
  }
}

.comments article header .nudle {
  border-left: 2px solid #8d8d8d;
}

.comments article header img {
  margin-left: 25px;
  height: 75px;
  margin-right: 25px;
  width: 75px;
  height: 75px;
}

.comments article .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 5.71px 5.71px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5.71px 5.71px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  margin-bottom: 25px;
  cursor: pointer;
}

.comments article .post img {
  padding: 25px;
  margin-top: 25px;
  width: 75px;
  height: 75px;
}

.comments article .post .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 125px;
  margin-top: 25px;
}

.comments article .post .comment p {
  height: 75px;
  padding: 10px;
  padding-top: 0;
  color: #8d8d8d;
  overflow: hidden;
  font-size: 15px;
  border-left: 2px solid #c4c4c4;
  padding-left: 25px;
}

@media (min-width: 768px) {
  .comments article .post {
    margin-left: 15px;
    margin-right: 15px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0px 4.58571px 4.58571px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4.58571px 4.58571px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    max-width: 300px;
    margin: 50px;
    cursor: pointer;
  }
  .comments article .post img {
    width: 200px;
    height: 200px;
    margin-left: 25px;
  }
  .comments article .post .comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    padding: 25px;
  }
  .comments article .post .comment p {
    border: none;
    padding: 10px;
    margin-top: 0;
    height: auto;
    color: #8d8d8d;
    font-size: 1.25rem;
    max-width: 100ch;
  }
  .comments article .post .comment p::before {
    display: block;
    content: "";
    border-top: 2px solid #c4c4c4;
    margin-bottom: 25px;
  }
}

.comments button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

@media (min-width: 768px) {
  .comments button {
    display: none;
  }
}

.contact {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.contact header h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  height: 75px;
  max-width: 205px;
}

@media (min-width: 768px) {
  .contact header h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 3.25rem;
    max-width: 400px;
  }
}

.contact header h2::before {
  top: -25px;
  left: -25px;
  content: "";
  border-left: 2px solid #8d8d8d;
  margin-right: 25px;
  margin-left: 25px;
  height: 75px;
}

.contact header img {
  width: 75px;
  height: 75px;
}

.contact .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  display: flex;
  justify-content: center;
  margin: auto;
}

@media (max-width: 768px) {
  .contact .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
}

.contact .contact-container .undraw2 {
  width: 40vw;
  max-height: 350px;
}

@media (max-width: 768px) {
  .contact .contact-container .undraw2 {
    display: none;
  }
}

.contact .contact-container .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact-container .form-container p {
  margin: auto;
  margin-bottom: 25px;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

.contact .contact-container .form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

@media (min-width: 425px) {
  .contact .contact-container .form-container form input,
  .contact .contact-container .form-container form input:nth-child(2) {
    width: 70vw;
  }
}

.contact .contact-container .form-container form input {
  margin-bottom: 25px;
  height: 50px;
  width: 80vw;
  max-width: 350px;
}

.contact .contact-container .form-container form input:nth-child(2) {
  margin-bottom: 25px;
  height: 150px;
  width: 80vw;
  max-width: 350px;
}

.contact .contact-container .form-container input::-webkit-input-placeholder {
  align-self: flex-start;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #8d8d8d;
  display: -webkit-box;
  display: flex;
  text-align: left;
}

.contact .contact-container .form-container input:-ms-input-placeholder {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #8d8d8d;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.contact .contact-container .form-container input::-ms-input-placeholder {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #8d8d8d;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.contact .contact-container .form-container input::placeholder {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #8d8d8d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.contact .contact-container .form-container button {
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .contact-container .form-container button p {
  margin: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .contact .contact-container .form-container {
    margin: auto;
  }
}

footer {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #74b9ff;
  color: #fff;
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */